@mixin boxShadow{
   box-shadow:  -2px -2px 2px var(--cor-sombra-1),
   2px 2px 5px var(--cor-sombra-2);
}

@mixin boxShadowEscuro{
   box-shadow:  -2px -2px 6px var(--cor-sombra-3),
   4px 4px 6px var(--cor-sombra-4);
}

@mixin  button{
   background: var(--cor-secundaria);
   width: 170px;
   height: 50px;
   transform: skew(-30deg);
   text-transform: uppercase;
   letter-spacing: 1px;
}

