@import 'colors';

@mixin boxShadowClaro-1{
   box-shadow:  -2px -2px 2px $cor-sombra-1,
   2px 2px 5px $cor-sombra-2;
}

@mixin boxShadowEscuro-1{
   box-shadow:  2px 5px 6px $cor-sombra-3,
   4px 4px 6px $cor-sombra-4;
}

@mixin boxShadowEscuro-2{
   box-shadow:  4px 4px 8px $cor-sombra-5,
    -4px -4px 8px $cor-sombra-6;
   border-radius: 5px;
}

@mixin  button{
   background: $cor--2;
   width: 170px;
   height: 50px;
   transform: skew(-30deg);
   text-transform: uppercase;
   letter-spacing: 1px;
}

