@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

*{
   margin: 0;
   padding: 0;
   outline: none;
   list-style: none;
   text-decoration: none;
   vertical-align: middle;
}

:root{
   --cor-primaria: #1D1D1D;
   --cor-secundaria: #EBE3C6;
   --cor-terciaria: #FFFFFF;

   --cor-fonte-1: #555555;
   --cor-fonte-2: #f8f8f8;

   --cor-sombra-1: rgb(196, 196, 196);
   --cor-sombra-2: rgb(255, 255, 255);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--cor-primaria);
}

.container--w1{
   max-width: 1300px;
   margin: 0 auto;
   width: 95%;
}

.container--w2{
   max-width: 1400px;
   margin: 0 auto;
   width: 95%;
}

.container--w3{
   max-width: 1200px;
   margin: 0 auto;
   width: 95%;
}