@media screen and (max-width: 1500px){
   .menu-navigation{
      display: none;
   }
}

@media screen and (max-width: 1024px){  
   // SOBRE

   .sobre--content{
      margin-bottom: 38rem;
   }

   // PROJECTS

   .container--w3{
      margin: 0 auto;
   }   
   
   .projects{
      bottom: 30rem;
   }

   .projects--grid{
      display: grid;
   
      grid-gap: 40px;
      grid-template-columns: 1fr 1fr;
   }
   
}

// TABLET RESOLUTION
@media screen and (max-width: 900px){
   .header{
      position: fixed;
      width: 100%;  
      z-index: 9999;
   }

  .menu-desktop{
      display: none;
   }

   .icon{
      cursor: pointer;
      z-index: 9999;
      width: 45px;
      height: 45px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      border-radius: 50%;
      @include boxShadow;   

      .b-1{
         width: 25px;
         height: 2px;
         background: var(--cor-primaria);
         transition: 0.4s;
      }

      .b-2{
         width: 25px;
         height: 2px;
         background: var(--cor-primaria);

         margin: 5px  0;
         transition: 0.4s;
      }

      .b-3{
         width: 25px;
         height: 2px;
         background: var(--cor-primaria);
         transition: 0.4s;
      }
   }

   .active-icon-x{
      .b-1{
         transform: rotate(45deg) translate(4px, 4px);
      }

      .b-2{
         opacity: 0;
      }

      .b-3{
         transform: rotate(-45deg) translate(6px, -6px);
      }
   }

   // LIGHT MODE ICON

   .light--mode{
      width: 45px;
      height: 45px;

      position: absolute;
      right: 80px;
   }

   // MENU MOBILE STYLES

   .menu-mobile{
      z-index: 9999;
      background: var(--cor-secundaria);
      width: 50%;
      height: 100vh;
      padding: 0 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      left: -200rem;
      top: 0;

      opacity: 0;
      visibility: hidden;
      transition: 0.4s;

      &.active-menu-mobile{
         opacity: 1;
         visibility: visible;
         left: 0;
      }

      li+li{
         margin-top: 50px;
      }

      a{
         font-size: 1.8em;
         color: var(--cor-primaria);
      }
   }

   // BG

   .bg{
      height: auto;
      padding: 120px 0;
   }

   .bg--content{
      flex-direction: column;
      justify-content: center;
   }

   .bg-text{
      position: relative;
      top: 60px;

      p{
         font-size: 1.8em;
      }

      h1{
         font-size: 2.3em;
      }
   }

   .button{
      position: relative;
      left: -10px;
   }

   // FORM

   .form{
      top: 10rem;
   }

   // SOBRE

   .sobre--content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 33rem;
   }
   
   .sobre-img{
      position: relative; 
      margin-bottom: 50px;
   }   

   // PROJECTS

   .container--w3{
      margin: 0 auto;
   }   
   
   .projects{
      position: relative;
      bottom: 26rem;
      z-index: 555;
   }

}

// MOBILE

@media screen and (max-width: 500px){
   .container--w2{
      max-width: 300px;
   }

   // MENU MOBILE
   .menu-mobile{
      width: 60%;

      a{
         font-size: 1.3em;
      }
   }

   // LOGO
   .bg-logomarca{
      display: none;
   }

   .logo{
      p{
         font-size: 1.7em;
      }
   }   

   // BG
   .bg{
      height: auto;
   }

   .bg--content{
      height: auto;

      display: flex;
      align-items: initial;
      justify-content: initial;
      flex-direction: column;
   }

   .bg-text{
      top: 40px;

      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .button{
         width: 150px;
      }

      a{
         padding: 20px 40px!important;
      }

      i{
         position: absolute;
         left: 130px;
      }
   }

   // FORMULARIO

   .form{
      width: 100%;
   }

   .formulario{
      width: 100%;

      input{
         width: 100%;
      }

      textarea{
         width: 100%;
      }
   }

   // SOBRE

   
   .sobre--content{
      margin-bottom: 35rem;
   }

   .sobre-text{
      max-width: 100%;

      p{
         font-size: 1.2em;
      }
   }

   // PROJETOS

   .projects{
      bottom: 29rem;
      height: auto;
      padding: 50px 0;

      h3{
         padding: 0;
         padding-bottom: 50px;
      }
   }

   .projects--grid{
      grid-gap: 0px;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
   }   

   // TECNOLOGIAS

   .tecnologias{
      height: auto;
   }
}