@import 'colors';
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

*{
   margin: 0;
   padding: 0;
   outline: none;
   list-style: none;
   text-decoration: none;
   vertical-align: middle;
   box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $cor-1;
}

.container--w1{
   max-width: 1400px;
   margin: 0 auto;
   width: 95%;
}

.container--w2{
   max-width: 1200px;
   margin: 0 auto;
   width: 95%;
}