@import 'reset';
@import 'mixin';

// STYLES //

// HEADER
.header{
   background: var(--cor-terciaria);
   padding: 20px 0;
   position: relative;
}

.header--content{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-desktop ul{
   display: flex;

   position: relative;
   right: -100px;

   li+li{
      margin-left: 40px;
   }

   a{
     font-size: 1.2em; 
     color: var(--cor-fonte-1);
   }
}

// LOGOMARCA

.logo{
   z-index: 4;
   
   p{
      font-size: 3.0em;
      font-weight: 600;
      color: var(--cor-fonte-1);   
   }
}

.bg-logomarca{
   background: var(--cor-secundaria);
   width: 36.6%;
   min-width: 330px;
   height: 115px;
   transform: skew(50deg);

   position: absolute;
   left: -70px;
   top: 0;
   z-index: 2;
}

@media screen and (min-width: 900px){
   .icon{
      display: none;
   }

   .menu-mobile{
      display: none;
   }
}

// LIGHT MODE BUTTON

.light--mode{
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 1.5em;
   @include boxShadowClaro-1;   
   cursor: pointer;
   color: var(--cor-fonte-1);
}

// BG

.bg{
   background-image: url(../img/background/bg-1.jpg);
   width: 100%;
   height: 80vh;

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;

   z-index: 0;
}

.bg::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;

   background: var(--cor-degrade);
   opacity: 0.9;
   width: 100%;
   height: 100%;

   z-index: 1;
}

.bg--content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 70vh;
}

.bg-text{
   color: var(--cor-fonte-2);
   z-index: 2;

   p{
      font-size: 2.3em;
      font-weight: 300;
   }

   h1{
      font-size: 4.0em;
      max-width: 400px;
      font-weight: 600;
   }
   
   .button{
      margin-top: 50px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include button;
      
      a{
         transform: skew(30deg);
         color: var(--cor-fonte-1);
         padding: 20px 60px;
         font-weight: 600;
         font-size: 0.9em;
      }

      i{
         position: absolute;
         right: 37px;
         top: 24px;
         color: var(--cor-fonte-1);
      }
   }
}

// FORMULARIO

.form{
   padding: 40px;
   backdrop-filter: blur(7px);
   background: var(--cor-glass);
   box-shadow: 2px 2px 8px var(--cor-sombra-7);
   border-radius: 5px;
   position: relative;
   top: 14rem;
   z-index: 222;

   h2{
      font-weight: 300;
      letter-spacing: 2px;
      color: var(--cor-fonte-2);

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      position: relative;
      top: -20px;

   }
}

.formulario{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 350px;   

   input{
      width: 90%;
      padding: 20px;
      font-size: 0.9em;
      margin-bottom: 20px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--cor-secundaria);
      font-family: 'open sans', sans-serif;
      color: var(--cor-fonte-2);
   }

   ::-webkit-input-placeholder {
      color: var(--cor-fonte-2);
   }

   textarea{
      width: 90%;
      margin-top: 20px;
      padding:  0 20px;
      height: 80px;
      font-size: 0.9em;
      background-color: transparent;
      border: none;
      border: 1px solid var(--cor-secundaria);
      border-top: none;
      resize: none;
      color: var(--cor-fonte-2);
      font-family: 'open sans', sans-serif;
   }

   .buttonForm{
      @include button;
      border: 0;  
      cursor: pointer;
      margin-top: 40px; 
      font-size: 0.9em;

      a{
        display:block;
        font-weight: 600;
        transform: skew(30deg);
        color: var(--cor-fonte-1); 
        font-family: 'open sans', sans-serif;
      } 

      i{
         margin-left: 7px;
         position: relative;
         top: -2px;
      }
   }
}

// MENU NAVIGATION

.menu-navigation{
   z-index: 9999!important;
   display: flex;
   align-items: center;
   flex-direction: column;

   position: fixed;
   right: 35px;
   top: 38%;

   button{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 0;
      background: var(--cor-secundaria); 
   }

   button{
      margin-bottom: 40px;
      position: relative;
      cursor: pointer;
      z-index: 6;
   }

   button::after{
      content: '';
      position: absolute;
      left: 5px;

      width: 2px;
      height: 50px;
      background: var(--cor-secundaria); 
   }

   .actived{
      box-shadow: -2px -3px 12px var(--cor-secundaria),
      2px 3px 12px var(--cor-secundaria);
   }
}

// SOBRE

.sobre--content{
   display: flex;
   justify-content: space-between;

   margin-top: 140px;
   margin-bottom: 29rem;
}

.sobre-img{
   position: relative;

   img{
      border-radius: 5px;
   }
}

.sobre-img::after{
   content: '';
   position: absolute;
   background: var(--cor-degrade2);
   left: 0;
   top: 0;

   width: 100%;
   height: 100%;

   border-radius: 5px;
}

.sobre-text{
   max-width: 60%;

   p{
      font-size: 1.5em;
      color: var(--cor-fonte-2);
      font-weight: 300;
   }

   button{
      background: transparent;
      border: 0;
      cursor: pointer;
      margin-top: 40px;
      letter-spacing: 1px;
      padding: 20px;
      color: var(--cor-fonte-2);
      border-radius: 5px;
      @include boxShadowEscuro-2;
   }
   
}

// TECNOLOGIAS

.tecnologias{
   background: var(--cor-quaternaria);
   width: 100%;
   height: auto;  
   position: relative;
   z-index: 0;
}

// PROJETOS

.projects{
   background: var(--cor-quinaria);
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   width: 100%;
   height: auto;
   padding-bottom: 140px;

   position: relative;
   bottom: 20rem;

   text-align: center;

   h3{
      padding: 60px 0;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: 1.5em;
      color: var(--cor-fonte-2);
   }
}

.projects--grid{
   display: grid;

   grid-gap: 40px;
   grid-template-columns: 1fr 1fr 1fr;
}

.item-grid-1{
   border-radius: 5px;
   overflow: hidden;
   position: relative;
   @include boxShadowEscuro-2; 

   img{
      width: 100%;
      border-radius: 5px;
      transition: 0.5s;
   }

   img:hover{
      transform: scale(1.1);
   }
}

.item-grid-1::after{
   content: "Preview";
   font-size: 1.8em;
   color: var(--cor-fonte-3);

   background: var(--cor-glass);
   backdrop-filter: blur(3px);
   position: absolute;
   left: 0;
   top: 0;

   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;

   left: -100rem;
   transition: 1s;
}

.item-grid-1:hover::after{
   left: 0rem; 
}

// TECNOLOGIAS ESTILO

.tecnologias-content{
   position: relative;
   bottom: 13.5rem;

   h4{
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 1.5em;
      color: var(--cor-fonte-2);
   }
}

.tecnologias--flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 50px;
}

.icon-tecnologia{
   background: transparent;
   border: 1px solid var(--cor-fonte-3);
   width: 200px;
   height: 200px;
   border-radius: 5px;

   display: flex;
   align-items: center;
   justify-content: center;
}

// FOOTER

.footer{
   width: 100%;
   height: auto;
   background: var(--cor-quinaria);
   z-index: -1;
   padding: 50px 0;
   text-align: center;

   a{
      color: white;
   }
}


@import 'responsive';