@import 'reset';
@import 'mixin';

// STYLES //

// HEADER
.header{
   background: var(--cor-terciaria);
   padding: 20px 0;
   position: relative;
}

.header--content{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-desktop ul{
   display: flex;

   position: relative;
   right: -100px;

   li+li{
      margin-left: 40px;
   }

   a{
     font-size: 1.2em; 
     color: var(--cor-fonte-1);
   }
}

// LOGOMARCA

.logo{
   z-index: 4;
   
   p{
      font-size: 3.0em;
      font-weight: 600;
      color: var(--cor-fonte-1);   
   }
}

.bg-logomarca{
   background: var(--cor-secundaria);
   width: 36.6%;
   min-width: 330px;
   height: 115px;
   transform: skew(50deg);

   position: absolute;
   left: -70px;
   top: 0;
   z-index: 2;
}

@media screen and (min-width: 900px){
   .icon{
      display: none;
   }

   .menu-mobile{
      display: none;
   }
}

// LIGHT MODE BUTTON

.light--mode{
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 1.5em;
   @include boxShadow;   
   cursor: pointer;
   color: var(--cor-fonte-1);
}

// BG

.bg{
   background-image: url(../img/background/bg-1.jpg);
   width: 100%;
   height: 80vh;

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;

   z-index: 0;
}

.bg::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;

   background: var(--cor-degrade);
   opacity: 0.9;
   width: 100%;
   height: 100%;

   z-index: 1;
}

.bg--content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 70vh;
}

.bg-text{
   color: var(--cor-fonte-2);
   z-index: 2;

   p{
      font-size: 2.3em;
      font-weight: 300;
   }

   h1{
      font-size: 4.0em;
      max-width: 400px;
      font-weight: 600;
   }
   
   .button{
      margin-top: 50px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include button;
      
      a{
         transform: skew(30deg);
         color: var(--cor-fonte-1);
         padding: 20px 60px;
         font-weight: 600;
         font-size: 0.9em;
      }

      i{
         position: absolute;
         right: 37px;
         top: 24px;
         color: var(--cor-fonte-1);
      }
   }
}

// FORMULARIO

.form{
   padding: 40px;
   backdrop-filter: blur(7px);
   background: var(--cor-glass);
   z-index: 999;
   box-shadow: 2px 2px 8px rgba(15, 15, 15, 0.795);
   position: relative;
   top: 14rem;

   h2{
      font-weight: 300;
      color: var(--cor-fonte-2);

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      position: relative;
      top: -20px;
   }
}

.formulario{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 350px;   

   input{
      width: 90%;
      padding: 20px;
      font-size: 0.9em;
      margin-bottom: 20px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--cor-secundaria);
      font-family: 'open sans', sans-serif;
      color: var(--cor-fonte-2);
   }

   ::-webkit-input-placeholder {
      color: var(--cor-fonte-2);
   }

   textarea{
      width: 90%;
      margin-top: 20px;
      padding:  0 20px;
      height: 80px;
      font-size: 0.9em;
      background-color: transparent;
      border: none;
      border: 1px solid var(--cor-secundaria);
      border-top: none;
      resize: none;
      color: var(--cor-fonte-2);
      font-family: 'open sans', sans-serif;
   }

   .buttonForm{
      @include button;
      border: 0;  
      cursor: pointer;
      margin-top: 40px; 
      font-size: 0.9em;

      a{
        display:block;
        font-weight: 600;
        transform: skew(30deg);
        color: var(--cor-fonte-1); 
        font-family: 'open sans', sans-serif;
      } 

      i{
         margin-left: 7px;
         position: relative;
         top: -2px;
      }
   }
}

// MENU NAVIGATION

.menu-navigation{
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 999;

   position: absolute;
   right: 45px;
   top: 25rem;

   button{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 0;
      background: var(--cor-secundaria); 
   }

   button{
      margin-bottom: 40px;
      position: relative;
      cursor: pointer;
   }

   button::after{
      content: '';
      position: absolute;
      left: 5px;

      width: 2px;
      height: 50px;
      background: var(--cor-secundaria); 
   }
}

@import 'responsive';