// IPAD RESOLUTION

@media screen and (min-width: 900px) and (max-width: 1280px){
     .background{
        height: 70vh;

        .bg-text{
            top: -10%;
    
            h1{
                font-size: 6.0rem;
                
            }
    
            p{
                @include titulo-text;
                font-size: 3.0rem;  
                color: white;  
            }
        }
    }

    //    QUEM SOU

    .description{ 
        height: auto; 

        img{
            min-width: 0;
            width: 40%;
           position: relative;
           top: 112px;
        }
     }

     .box-text{
        width: 50%;
        height: auto;        
        padding: 0  40px 30px 30px;
        margin-top: 100px;
         
        
        h1{
            font-size: $font4;
        }
        
        p{
            @include paragrafo-text;            
            letter-spacing: 0px;
        }
    }

    // CURRICULO

    .curriculo{
        height: 40vh;

        .container{
            height: 50vh;
        }
    }   

    .download-curriculo{
        max-width: 70%; 

        h2{
            font-size: $font4;
        }
        
        
        p{
            @include paragrafo-text;            
            letter-spacing: 0px;
        } 

        button{
            margin-bottom: 40px;
        }
    }

   // PROJETOS

    .projetos{
        height: auto;

        h3{
            margin-top: 50px;
        }   
    }

    .galeria-projetos{          
        height: auto;
        margin-bottom: 0;

        .imgs-projetos{
            position: relative;
            margin-bottom: 50px;

            img{
                max-width: 40%;         
            }        
        }
    }

    // CONTATO
    .contato{
        height: 20vh;  
        
          
          
        h6{
            margin: 0;
        }
    }


}

// TABLET RESOLUTION

@media screen and (max-width: 900px){
    .icone{
        cursor: pointer;
        z-index: 9999;

        :nth-child(1){
            @include icon;
        }

        :nth-child(2){
            @include icon;
            margin: 5px 0;
        }

        :nth-child(3){
            @include icon;
        }
    }   

    // ICON X

       .icon-x{
            :nth-child(1){
                transform: rotate(45deg) translate(3px, 7px);
                background-color: $cinza1;
            }

            :nth-child(2){
                opacity: 0;
            }

            :nth-child(3){
                transform: rotate(-45deg) translate(5px, -10px);
                background-color: $cinza1;
            } 
       }

    // MENU ATIVO
       
       .ativo{
           display: block;

           ul{
               flex-direction: column;
               justify-content: center;
               align-items: center;

               background-color: $branco1;
               position: absolute;
               left: 0;
               top: 0;
               
               width: 100%;
               height: auto;
               padding: 100px 0;
               animation: menuMobile ease-in-out 0.4s;
           }

           li+li{
               margin: 0;
               margin-top: 50px;
               text-align: center;
           }

           a{
               color: $cinza1;
           }
       }

       @keyframes menuMobile {
           from{
               top: -100rem;
           }

           to{
               top: 0;
           }
       }
       
       
    //    TABLET STYLES

    .background{
        height: 70vh;

        .bg-text{
            top: -10%;
    
            h1{
                font-size: 4.0rem;
            }
    
            p{  
                @include titulo-text;
                font-size: 2.0rem;  
                color: white;              
            }
        }
    }

    //    QUEM SOU

    .description{ 
        height: auto; 

        img{
            min-width: 0;
            margin: 0 auto;
            width: 50%;
            z-index: 999;
        }
     }

     .box-text{
        width: 100%;
        height: auto;
        top: 0;
        padding: 0  40px 30px 30px;
        margin-bottom: 100px;   
        
        h1{
            font-size: $font3;
        }
        
        p{
            @include paragrafo-text;
            font-size: 1.5rem;
            letter-spacing: 0px;
        }
    }

    // CURRICULO

    .curriculo{
        height: auto;

        .container{
            height: auto;
        }
    }

    .overlay2{
        display: none;
    }

    .overlay3{
        display: none;
    }

    .download-curriculo{        

        h2{
            font-size: $font3;
                     
        }        
        
        p{
            @include paragrafo-text;
            font-size: 1.5rem;
            letter-spacing: 0px;
            text-align: center;
        } 

        button{
            margin-bottom: 100px;
        }
    }

       // PROJETOS

       .galeria-projetos{          
        height: auto;

        .imgs-projetos{
            position: relative;            

            img{
                max-width: 40%;         
            }        
        }
    }

    // FORMULÁRIO

    .formulario-flex{
        flex-direction: column;
    }

    .form{
        width: 100%;    
    }

    .redes-sociais{
        width: 100%;
        height: auto;
        padding: 50px 0;
    }   

    // CONTATO
    .contato{
        height: 30vh;  
        
          
        h6{
            margin: 0;
        }
    }
    
}

// MOBILE RESOLUTION

@media screen and (max-width: 600px){
    .background{
        height: 80vh;

        .bg-text{
            top: 0%;
    
            h1{
                font-size: $font3; 
                padding: 20px 5px;            
            }
    
            p{
                @include titulo-text;
                font-size: 1.5rem;  
                color: white;  
                margin: 0;
            }
        }
    }   

    .description{
        img{
            width: 100%;
            margin-top: 50px;
        }
    }

     // PROJETOS

    .projetos{
        height: auto;

        h4{
           margin-top: 100px;
        }  
        
    }

    .galeria-projetos{        
        height: auto;
        margin-bottom: 0;

        .imgs-projetos{        
            img{
                max-width: 100%;           
                margin: 0;
                margin-bottom: 20px;
            }                        
        }
    }

    // TECNOLOGIAS

    .tecnologias{   
        height: auto;  
        
        h5{
            margin-top: 100px;
        }    
    }

    .skills{
        width: 100%;    
    }

    .tecnologias-flex{
       flex-direction: column;
    }

    // FORMULARIO

    .redes-sociais{
        background-color: $branco2;
        width: 100%;
        height: auto;
        padding: 50px 0;
        

        text-align: center;
    
        h1{
            @include titulo-text;
            margin-top: 0;
        }
    
        p{
            @include paragrafo-text;
            font-size: 1.5rem;
            margin: 0 10px 50px 10px;
        }
    
        i{
            font-size: $font4;
            color: black;
        }
    
        a+a{
            margin-left: 20px;
        }
    }

    // CONTATO
    .contato{
        height: 20vh;
          
        h6{
            margin: 0;
        }
    }  
    
    // FOOTER

    .footer{       
        a{
            font-size: 1.5rem;
        }
    }


}