html, body, ul, li, a, h1, h2, h3, h4, h5, p, img, input, button, textarea{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
}

::selection{
    background-color: black;
    color: white;
}

html{
    font-size: 62.5%;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient(90deg,
    rgb(255, 242, 206) 0%,
    rgb(255, 242, 206)25%,
    transparent 100%,
    rgb(255, 242, 206) 75%,
    transparent)
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;  
}

